{% extends "layout.html" %}

{% block contents %}
    <div class="llArticleDetail">
        <h1>글 상세보기</h1>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">제목 : {{ article.title }} / 작성자 : {{ article.author }}<span class="float-right">{{ article.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</span></h3>
            </div>
            <div class="panel-body">
                {{ article.content|safe }}
            </div>
        </div>

        <div class="llCommentList">
            {% if comments %}
                {% for comment in comments %}
                    <div class="well well-sm">
                        <span class="badge">{{ loop.index }}</span> {{ comment.content }}
                        <span class="float-right">
                            <span class="label label-primary">{{ comment.author }}</span>
                            <span class="label label-primary">{{ comment.like }}</span>
                            <small>
                                <a href="mailto:{{ comment.email }}">{{ comment.email }}</a> <em>{{ comment.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</em>
                                <a href="{{url_for('comment_like', id=comment.id, id2=article.id)}}">좋아요</a> 
                                <a href="{{url_for('comment_delete', id=comment.id, id2=article.id)}}">삭제</a>
                                <button class="btn btn-success" data-toggle="modal" data-target="#modify">삭제2</button>

                                <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">비밀번호입력해주세요</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{url_for('comment_delete2', id=comment.id, id2=article.id)}}" method="post">
                                                <input type="text" name="text">
                                                <input type="submit" value="submit">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </small>
                        </span>
                    </div>
                {% endfor %}
            {% else %}
                <div class="no-list">
                    댓글이 없습니다.
                </div>
            {% endif %}
        </div>

        <div class="bottomButtons">
            <a href="{{ url_for('article_list') }}" class="btn btn-primary">목록보기</a>
            <a href="{{ url_for('comment_create', article_id=article.id) }}" class="btn btn-primary">댓글쓰기</a>
            <a href="{{ url_for('article_update',id=article.id) }}" class="btn btn-success">글 수정</a>
            <a href="{{ url_for('article_delete',id=article.id) }}" class="btn btn-danger">글 삭제</a>
        </div>
    </div>
{% endblock %}


