{% extends "base.html" %}
{% block layout %}
<div class="container">
	<div class="row">
		<button id="1" class="location">서울</button>
		<button id="2" class="location">광주</button>
		<button id="3" class="location">대구</button>
		<button id="4" class="location">대전</button>
		<button id="5" class="location">부산</button>
		<button id="6" class="location">세종</button>
		<button id="7" class="location">울산</button>
		<button id="8" class="location">인천</button>
		<button id="9" class="location">강원도</button>
		<button id="10" class="location">경기도</button>
		<button id="11" class="location">경상남도</button>
		<button id="12" class="location">경상북도</button>
		<button id="13" class="location">전라남도</button>
		<button id="14" class="location">전라북도</button>
		<button id="15" class="location">제주도</button>
		<button id="16" class="location">충청남도</button>
		<button id="17" class="location">충청북도</button>

	</div>
	<div class="row">
		<table id="more_data">
			<p>학교 목록</p>
			<tr>
				<td>학교명</td>
				<td>학교주소</td>
			</tr>
		</table>
	</div>	
</div>
{% endblock %}