<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Likelion Flaskr</a>
		</div>
		<ul class="nav navbar-nav">
			<li{% if active_tab == 'timeline' %} class="active"{% endif %}><a href="{{ url_for('article_list') }}">타임라인</a></li>
			<li{% if active_tab == 'article_create' %} class="active"{% endif %}><a href="{{ url_for('article_create') }}">글쓰기</a></li>
			<li{% if active_tab == 'join' %} class="active"{% endif %}><a href="{{ url_for('join') }}">회원가입</a></li>
			<li{% if active_tab == 'chatting' %} class="active"{% endif %}><a href="{{ url_for('chatting') }}">채팅방</a></li>
			{%if not g.user_name%}
			<li{% if active_tab == 'login' %} class="active"{% endif %}><a href="{{ url_for('login') }}">로그인</a></li>
			{%endif%}
		</ul>
		{%if g.user_name%}
		<h6>{{g.user_name}}님 안녕하세요</h6> <button><a href="{{url_for('logout')}}">로그아웃</a></button>
		{%endif%}
	</div>
</nav>