<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Likelion Flaskr</a>
		</div>
		<ul class="nav navbar-nav">
			<li{% if active_tab == 'timeline' %} class="active"{% endif %}><a href="{{ url_for('article_list') }}">타임라인</a></li>

			<li{% if active_tab == 'article_create' %} class="active"{% endif %}><a href="{{ url_for('article_create') }}">글쓰기</a></li>

			{% if g.user_name %}
			<li class="active">{{ g.user_name }}님 안녕하세요!<button><a href="{{ url_for('logout') }}">Logout</a></button></li>
			
			{% else %}
			<li{% if active_tab == 'sign_up' %} class="active"{% endif %}><a href="{{ url_for('sign_up') }}">회원가입</a></li>
			<li{% if active_tab == 'log_in' %} class="active"{% endif %}><a href="{{ url_for('login') }}">로그인</a></li>
			{% endif %}
		</ul>
	</div>
</nav>


